@font-face {
    font-family: 'UncutSans';
    font-weight: 300;
    font-style: normal;
    src: url('./fonts/UncutSans-Variable.woff2') format('woff2');
}

@font-face {
    font-family: 'MartianMono';
    font-weight: 300;
    font-style: normal;
    src: url('./fonts/MartianMono-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Geomanist';
    font-weight: 300;
    font-style: normal;
    src: url('./fonts/geomanist-light-webfont.woff2') format('woff2'), url('./fonts/geomanist-light-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Geomanist';
    font-weight: 300;
    font-style: italic;
    src: url('./fonts/geomanist-light-italic-webfont.woff2') format('woff2'), url('./fonts/geomanist-light-italic-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Geomanist';
    font-weight: 400;
    font-style: normal;
    src: url('./fonts/geomanist-regular-webfont.woff2') format('woff2'), url('./fonts/geomanist-regular-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Geomanist';
    font-weight: 400;
    font-style: italic;
    src: url('./fonts/geomanist-regular-italic-webfont.woff2') format('woff2'), url('./fonts/geomanist-regular-italic-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Geomanist';
    font-weight: 500;
    font-style: normal;
    src: url('./fonts/geomanist-book-webfont.woff2') format('woff2'), url('./fonts/geomanist-book-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Geomanist';
    font-weight: 500;
    font-style: italic;
    src: url('./fonts/geomanist-book-italic-webfont.woff2') format('woff2'), url('./fonts/geomanist-book-italic-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Geomanist';
    font-weight: 600;
    font-style: normal;
    src: url('./fonts/geomanist-medium-webfont.woff2') format('woff2'), url('./fonts/geomanist-medium-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Geomanist';
    font-weight: 600;
    font-style: italic;
    src: url('./fonts/geomanist-medium-italic-webfont.woff2') format('woff2'), url('./fonts/geomanist-medium-italic-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Geomanist';
    font-weight: 700;
    font-style: italic;
    src: url('./fonts/geomanist-bold-italic-webfont.woff2') format('woff2'), url('./fonts/geomanist-bold-italic-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Geomanist';
    font-weight: 700;
    font-style: normal;
    src: url('./fonts/geomanist-bold-webfont.woff2') format('woff2'), url('./fonts/geomanist-bold-webfont.woff') format('woff');
}

/*
! tailwindcss v3.3.2 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: #e5e7eb; /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
*/

html {
  line-height: 1.5; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 4 */
  font-feature-settings: normal; /* 5 */
  font-variation-settings: normal; /* 6 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0; /* 1 */
  line-height: inherit; /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
  border-top-width: 1px; /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font family by default.
2. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: MartianMono, ui-monospace, system-ui; /* 1 */
  font-size: 1em; /* 2 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
  border-collapse: collapse; /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  font-weight: inherit; /* 1 */
  line-height: inherit; /* 1 */
  color: inherit; /* 1 */
  margin: 0; /* 2 */
  padding: 0; /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button; /* 1 */
  background-color: transparent; /* 2 */
  background-image: none; /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden] {
  display: none;
}

[type='text'],[type='email'],[type='url'],[type='password'],[type='number'],[type='date'],[type='datetime-local'],[type='month'],[type='search'],[type='tel'],[type='time'],[type='week'],[multiple],textarea,select {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: #fff;
    border-color: #6b7280;
    border-width: 1px;
    border-radius: 0px;
    padding-top: 0.5rem;
    padding-right: 0.75rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    font-size: 1rem;
    line-height: 1.5rem;
    --tw-shadow: 0 0 #0000;
}

[type='text']:focus, [type='email']:focus, [type='url']:focus, [type='password']:focus, [type='number']:focus, [type='date']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='week']:focus, [multiple]:focus, textarea:focus, select:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: #2563eb;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
    border-color: #2563eb;
}

input::-moz-placeholder, textarea::-moz-placeholder {
    color: #6b7280;
    opacity: 1;
}

input::placeholder,textarea::placeholder {
    color: #6b7280;
    opacity: 1;
}

::-webkit-datetime-edit-fields-wrapper {
    padding: 0;
}

::-webkit-date-and-time-value {
    min-height: 1.5em;
}

::-webkit-datetime-edit,::-webkit-datetime-edit-year-field,::-webkit-datetime-edit-month-field,::-webkit-datetime-edit-day-field,::-webkit-datetime-edit-hour-field,::-webkit-datetime-edit-minute-field,::-webkit-datetime-edit-second-field,::-webkit-datetime-edit-millisecond-field,::-webkit-datetime-edit-meridiem-field {
    padding-top: 0;
    padding-bottom: 0;
}

select {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
    background-position: right 0.5rem center;
    background-repeat: no-repeat;
    background-size: 1.5em 1.5em;
    padding-right: 2.5rem;
    -webkit-print-color-adjust: exact;
            print-color-adjust: exact;
}

[multiple] {
    background-image: initial;
    background-position: initial;
    background-repeat: unset;
    background-size: initial;
    padding-right: 0.75rem;
    -webkit-print-color-adjust: unset;
            print-color-adjust: unset;
}

[type='checkbox'],[type='radio'] {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    padding: 0;
    -webkit-print-color-adjust: exact;
            print-color-adjust: exact;
    display: inline-block;
    vertical-align: middle;
    background-origin: border-box;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    flex-shrink: 0;
    height: 1rem;
    width: 1rem;
    color: #2563eb;
    background-color: #fff;
    border-color: #6b7280;
    border-width: 1px;
    --tw-shadow: 0 0 #0000;
}

[type='checkbox'] {
    border-radius: 0px;
}

[type='radio'] {
    border-radius: 100%;
}

[type='checkbox']:focus,[type='radio']:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
    --tw-ring-offset-width: 2px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: #2563eb;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
}

[type='checkbox']:checked,[type='radio']:checked {
    border-color: transparent;
    background-color: currentColor;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

[type='checkbox']:checked {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
}

[type='radio']:checked {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e");
}

[type='checkbox']:checked:hover,[type='checkbox']:checked:focus,[type='radio']:checked:hover,[type='radio']:checked:focus {
    border-color: transparent;
    background-color: currentColor;
}

[type='checkbox']:indeterminate {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 16'%3e%3cpath stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 8h8'/%3e%3c/svg%3e");
    border-color: transparent;
    background-color: currentColor;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

[type='checkbox']:indeterminate:hover,[type='checkbox']:indeterminate:focus {
    border-color: transparent;
    background-color: currentColor;
}

[type='file'] {
    background: unset;
    border-color: inherit;
    border-width: 0;
    border-radius: 0;
    padding: 0;
    font-size: unset;
    line-height: inherit;
}

[type='file']:focus {
    outline: 1px solid ButtonText;
    outline: 1px auto -webkit-focus-ring-color;
}

*, ::before, ::after {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x:  ;
    --tw-pan-y:  ;
    --tw-pinch-zoom:  ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position:  ;
    --tw-gradient-via-position:  ;
    --tw-gradient-to-position:  ;
    --tw-ordinal:  ;
    --tw-slashed-zero:  ;
    --tw-numeric-figure:  ;
    --tw-numeric-spacing:  ;
    --tw-numeric-fraction:  ;
    --tw-ring-inset:  ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur:  ;
    --tw-brightness:  ;
    --tw-contrast:  ;
    --tw-grayscale:  ;
    --tw-hue-rotate:  ;
    --tw-invert:  ;
    --tw-saturate:  ;
    --tw-sepia:  ;
    --tw-drop-shadow:  ;
    --tw-backdrop-blur:  ;
    --tw-backdrop-brightness:  ;
    --tw-backdrop-contrast:  ;
    --tw-backdrop-grayscale:  ;
    --tw-backdrop-hue-rotate:  ;
    --tw-backdrop-invert:  ;
    --tw-backdrop-opacity:  ;
    --tw-backdrop-saturate:  ;
    --tw-backdrop-sepia:  ;
}

::backdrop {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x:  ;
    --tw-pan-y:  ;
    --tw-pinch-zoom:  ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position:  ;
    --tw-gradient-via-position:  ;
    --tw-gradient-to-position:  ;
    --tw-ordinal:  ;
    --tw-slashed-zero:  ;
    --tw-numeric-figure:  ;
    --tw-numeric-spacing:  ;
    --tw-numeric-fraction:  ;
    --tw-ring-inset:  ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur:  ;
    --tw-brightness:  ;
    --tw-contrast:  ;
    --tw-grayscale:  ;
    --tw-hue-rotate:  ;
    --tw-invert:  ;
    --tw-saturate:  ;
    --tw-sepia:  ;
    --tw-drop-shadow:  ;
    --tw-backdrop-blur:  ;
    --tw-backdrop-brightness:  ;
    --tw-backdrop-contrast:  ;
    --tw-backdrop-grayscale:  ;
    --tw-backdrop-hue-rotate:  ;
    --tw-backdrop-invert:  ;
    --tw-backdrop-opacity:  ;
    --tw-backdrop-saturate:  ;
    --tw-backdrop-sepia:  ;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.sticky {
    position: sticky;
}

.col-auto {
    grid-column: auto;
}

.col-span-1 {
    grid-column: span 1 / span 1;
}

.col-span-10 {
    grid-column: span 10 / span 10;
}

.col-span-11 {
    grid-column: span 11 / span 11;
}

.col-span-12 {
    grid-column: span 12 / span 12;
}

.col-span-2 {
    grid-column: span 2 / span 2;
}

.col-span-3 {
    grid-column: span 3 / span 3;
}

.col-span-4 {
    grid-column: span 4 / span 4;
}

.col-span-5 {
    grid-column: span 5 / span 5;
}

.col-span-6 {
    grid-column: span 6 / span 6;
}

.col-span-7 {
    grid-column: span 7 / span 7;
}

.col-span-8 {
    grid-column: span 8 / span 8;
}

.col-span-9 {
    grid-column: span 9 / span 9;
}

.col-span-full {
    grid-column: 1 / -1;
}

.col-start-1 {
    grid-column-start: 1;
}

.col-start-10 {
    grid-column-start: 10;
}

.col-start-11 {
    grid-column-start: 11;
}

.col-start-12 {
    grid-column-start: 12;
}

.col-start-13 {
    grid-column-start: 13;
}

.col-start-2 {
    grid-column-start: 2;
}

.col-start-3 {
    grid-column-start: 3;
}

.col-start-4 {
    grid-column-start: 4;
}

.col-start-5 {
    grid-column-start: 5;
}

.col-start-6 {
    grid-column-start: 6;
}

.col-start-7 {
    grid-column-start: 7;
}

.col-start-8 {
    grid-column-start: 8;
}

.col-start-9 {
    grid-column-start: 9;
}

.col-start-auto {
    grid-column-start: auto;
}

.col-end-1 {
    grid-column-end: 1;
}

.col-end-10 {
    grid-column-end: 10;
}

.col-end-11 {
    grid-column-end: 11;
}

.col-end-12 {
    grid-column-end: 12;
}

.col-end-13 {
    grid-column-end: 13;
}

.col-end-2 {
    grid-column-end: 2;
}

.col-end-3 {
    grid-column-end: 3;
}

.col-end-4 {
    grid-column-end: 4;
}

.col-end-5 {
    grid-column-end: 5;
}

.col-end-6 {
    grid-column-end: 6;
}

.col-end-7 {
    grid-column-end: 7;
}

.col-end-8 {
    grid-column-end: 8;
}

.col-end-9 {
    grid-column-end: 9;
}

.col-end-auto {
    grid-column-end: auto;
}

.row-auto {
    grid-row: auto;
}

.row-span-1 {
    grid-row: span 1 / span 1;
}

.row-span-2 {
    grid-row: span 2 / span 2;
}

.row-span-3 {
    grid-row: span 3 / span 3;
}

.row-span-4 {
    grid-row: span 4 / span 4;
}

.row-span-5 {
    grid-row: span 5 / span 5;
}

.row-span-6 {
    grid-row: span 6 / span 6;
}

.row-span-full {
    grid-row: 1 / -1;
}

.row-start-1 {
    grid-row-start: 1;
}

.row-start-2 {
    grid-row-start: 2;
}

.row-start-3 {
    grid-row-start: 3;
}

.row-start-4 {
    grid-row-start: 4;
}

.row-start-5 {
    grid-row-start: 5;
}

.row-start-6 {
    grid-row-start: 6;
}

.row-start-7 {
    grid-row-start: 7;
}

.row-start-auto {
    grid-row-start: auto;
}

.row-end-1 {
    grid-row-end: 1;
}

.row-end-2 {
    grid-row-end: 2;
}

.row-end-3 {
    grid-row-end: 3;
}

.row-end-4 {
    grid-row-end: 4;
}

.row-end-5 {
    grid-row-end: 5;
}

.row-end-6 {
    grid-row-end: 6;
}

.row-end-7 {
    grid-row-end: 7;
}

.row-end-auto {
    grid-row-end: auto;
}

.block {
    display: block;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.transform {
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.grid-flow-row {
    grid-auto-flow: row;
}

.grid-flow-col {
    grid-auto-flow: column;
}

.grid-flow-dense {
    grid-auto-flow: dense;
}

.grid-flow-row-dense {
    grid-auto-flow: row dense;
}

.grid-flow-col-dense {
    grid-auto-flow: column dense;
}

.grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-cols-10 {
    grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-cols-11 {
    grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-cols-12 {
    grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-cols-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-cols-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-cols-7 {
    grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-cols-8 {
    grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-cols-9 {
    grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-cols-none {
    grid-template-columns: none;
}

.grid-rows-1 {
    grid-template-rows: repeat(1, minmax(0, 1fr));
}

.grid-rows-2 {
    grid-template-rows: repeat(2, minmax(0, 1fr));
}

.grid-rows-3 {
    grid-template-rows: repeat(3, minmax(0, 1fr));
}

.grid-rows-4 {
    grid-template-rows: repeat(4, minmax(0, 1fr));
}

.grid-rows-5 {
    grid-template-rows: repeat(5, minmax(0, 1fr));
}

.grid-rows-6 {
    grid-template-rows: repeat(6, minmax(0, 1fr));
}

.grid-rows-none {
    grid-template-rows: none;
}

.justify-normal {
    justify-content: normal;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.justify-evenly {
    justify-content: space-evenly;
}

.justify-stretch {
    justify-content: stretch;
}

.justify-items-start {
    justify-items: start;
}

.justify-items-end {
    justify-items: end;
}

.justify-items-center {
    justify-items: center;
}

.justify-items-stretch {
    justify-items: stretch;
}

.gap-0 {
    gap: 0px;
}

.gap-0\.5 {
    gap: 0.125rem;
}

.gap-1 {
    gap: 0.25rem;
}

.gap-1\.5 {
    gap: 0.375rem;
}

.gap-10 {
    gap: 2.5rem;
}

.gap-11 {
    gap: 2.75rem;
}

.gap-12 {
    gap: 3rem;
}

.gap-14 {
    gap: 3.5rem;
}

.gap-16 {
    gap: 4rem;
}

.gap-2 {
    gap: 0.5rem;
}

.gap-2\.5 {
    gap: 0.625rem;
}

.gap-20 {
    gap: 5rem;
}

.gap-24 {
    gap: 6rem;
}

.gap-28 {
    gap: 7rem;
}

.gap-3 {
    gap: 0.75rem;
}

.gap-3\.5 {
    gap: 0.875rem;
}

.gap-32 {
    gap: 8rem;
}

.gap-36 {
    gap: 9rem;
}

.gap-4 {
    gap: 1rem;
}

.gap-40 {
    gap: 10rem;
}

.gap-44 {
    gap: 11rem;
}

.gap-48 {
    gap: 12rem;
}

.gap-5 {
    gap: 1.25rem;
}

.gap-52 {
    gap: 13rem;
}

.gap-56 {
    gap: 14rem;
}

.gap-6 {
    gap: 1.5rem;
}

.gap-60 {
    gap: 15rem;
}

.gap-64 {
    gap: 16rem;
}

.gap-7 {
    gap: 1.75rem;
}

.gap-72 {
    gap: 18rem;
}

.gap-8 {
    gap: 2rem;
}

.gap-80 {
    gap: 20rem;
}

.gap-9 {
    gap: 2.25rem;
}

.gap-96 {
    gap: 24rem;
}

.gap-px {
    gap: 1px;
}

.gap-x-0 {
    -moz-column-gap: 0px;
         column-gap: 0px;
}

.gap-x-0\.5 {
    -moz-column-gap: 0.125rem;
         column-gap: 0.125rem;
}

.gap-x-1 {
    -moz-column-gap: 0.25rem;
         column-gap: 0.25rem;
}

.gap-x-1\.5 {
    -moz-column-gap: 0.375rem;
         column-gap: 0.375rem;
}

.gap-x-10 {
    -moz-column-gap: 2.5rem;
         column-gap: 2.5rem;
}

.gap-x-11 {
    -moz-column-gap: 2.75rem;
         column-gap: 2.75rem;
}

.gap-x-12 {
    -moz-column-gap: 3rem;
         column-gap: 3rem;
}

.gap-x-14 {
    -moz-column-gap: 3.5rem;
         column-gap: 3.5rem;
}

.gap-x-16 {
    -moz-column-gap: 4rem;
         column-gap: 4rem;
}

.gap-x-2 {
    -moz-column-gap: 0.5rem;
         column-gap: 0.5rem;
}

.gap-x-2\.5 {
    -moz-column-gap: 0.625rem;
         column-gap: 0.625rem;
}

.gap-x-20 {
    -moz-column-gap: 5rem;
         column-gap: 5rem;
}

.gap-x-24 {
    -moz-column-gap: 6rem;
         column-gap: 6rem;
}

.gap-x-28 {
    -moz-column-gap: 7rem;
         column-gap: 7rem;
}

.gap-x-3 {
    -moz-column-gap: 0.75rem;
         column-gap: 0.75rem;
}

.gap-x-3\.5 {
    -moz-column-gap: 0.875rem;
         column-gap: 0.875rem;
}

.gap-x-32 {
    -moz-column-gap: 8rem;
         column-gap: 8rem;
}

.gap-x-36 {
    -moz-column-gap: 9rem;
         column-gap: 9rem;
}

.gap-x-4 {
    -moz-column-gap: 1rem;
         column-gap: 1rem;
}

.gap-x-40 {
    -moz-column-gap: 10rem;
         column-gap: 10rem;
}

.gap-x-44 {
    -moz-column-gap: 11rem;
         column-gap: 11rem;
}

.gap-x-48 {
    -moz-column-gap: 12rem;
         column-gap: 12rem;
}

.gap-x-5 {
    -moz-column-gap: 1.25rem;
         column-gap: 1.25rem;
}

.gap-x-52 {
    -moz-column-gap: 13rem;
         column-gap: 13rem;
}

.gap-x-56 {
    -moz-column-gap: 14rem;
         column-gap: 14rem;
}

.gap-x-6 {
    -moz-column-gap: 1.5rem;
         column-gap: 1.5rem;
}

.gap-x-60 {
    -moz-column-gap: 15rem;
         column-gap: 15rem;
}

.gap-x-64 {
    -moz-column-gap: 16rem;
         column-gap: 16rem;
}

.gap-x-7 {
    -moz-column-gap: 1.75rem;
         column-gap: 1.75rem;
}

.gap-x-72 {
    -moz-column-gap: 18rem;
         column-gap: 18rem;
}

.gap-x-8 {
    -moz-column-gap: 2rem;
         column-gap: 2rem;
}

.gap-x-80 {
    -moz-column-gap: 20rem;
         column-gap: 20rem;
}

.gap-x-9 {
    -moz-column-gap: 2.25rem;
         column-gap: 2.25rem;
}

.gap-x-96 {
    -moz-column-gap: 24rem;
         column-gap: 24rem;
}

.gap-x-px {
    -moz-column-gap: 1px;
         column-gap: 1px;
}

.gap-y-0 {
    row-gap: 0px;
}

.gap-y-0\.5 {
    row-gap: 0.125rem;
}

.gap-y-1 {
    row-gap: 0.25rem;
}

.gap-y-1\.5 {
    row-gap: 0.375rem;
}

.gap-y-10 {
    row-gap: 2.5rem;
}

.gap-y-11 {
    row-gap: 2.75rem;
}

.gap-y-12 {
    row-gap: 3rem;
}

.gap-y-14 {
    row-gap: 3.5rem;
}

.gap-y-16 {
    row-gap: 4rem;
}

.gap-y-2 {
    row-gap: 0.5rem;
}

.gap-y-2\.5 {
    row-gap: 0.625rem;
}

.gap-y-20 {
    row-gap: 5rem;
}

.gap-y-24 {
    row-gap: 6rem;
}

.gap-y-28 {
    row-gap: 7rem;
}

.gap-y-3 {
    row-gap: 0.75rem;
}

.gap-y-3\.5 {
    row-gap: 0.875rem;
}

.gap-y-32 {
    row-gap: 8rem;
}

.gap-y-36 {
    row-gap: 9rem;
}

.gap-y-4 {
    row-gap: 1rem;
}

.gap-y-40 {
    row-gap: 10rem;
}

.gap-y-44 {
    row-gap: 11rem;
}

.gap-y-48 {
    row-gap: 12rem;
}

.gap-y-5 {
    row-gap: 1.25rem;
}

.gap-y-52 {
    row-gap: 13rem;
}

.gap-y-56 {
    row-gap: 14rem;
}

.gap-y-6 {
    row-gap: 1.5rem;
}

.gap-y-60 {
    row-gap: 15rem;
}

.gap-y-64 {
    row-gap: 16rem;
}

.gap-y-7 {
    row-gap: 1.75rem;
}

.gap-y-72 {
    row-gap: 18rem;
}

.gap-y-8 {
    row-gap: 2rem;
}

.gap-y-80 {
    row-gap: 20rem;
}

.gap-y-9 {
    row-gap: 2.25rem;
}

.gap-y-96 {
    row-gap: 24rem;
}

.gap-y-px {
    row-gap: 1px;
}

.justify-self-auto {
    justify-self: auto;
}

.justify-self-start {
    justify-self: start;
}

.justify-self-end {
    justify-self: end;
}

.justify-self-center {
    justify-self: center;
}

.justify-self-stretch {
    justify-self: stretch;
}

.border {
    border-width: 1px;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration-line: underline;
}

.transition-\[margin\] {
    transition-property: margin;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

html {
    --foreground: #000;
    --background: #fff;

    font-size: 16px;
    background: var(--background);
}

@media (min-width: 768px) {

html {
        font-size: 18px
}
    }

@media (min-width: 1280px) {

html {
        font-size: 20px
}
    }

body {
    font-family: UncutSans, ui-sans-serif, system-ui;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: normal;
}

p {
    font-size: 1rem;
    line-height: 1.4em;
}

h1 {
    font-family: Geomanist, ui-sans-serif, system-ui;
    font-size: 4rem;
    line-height: 1em;
}

h2 {
    font-family: Geomanist, ui-sans-serif, system-ui;
    font-size: 2rem;
    line-height: 1.2em;
}

h3 {
    font-family: Geomanist, ui-sans-serif, system-ui;
    font-size: 1.5rem;
    line-height: 1.2em;
}

h4 {
    font-family: Geomanist, ui-sans-serif, system-ui;
    font-size: 1rem;
    line-height: 1.2em;
}

ul,
ol {
    line-height: 1.4em;
}

figcaption {
    font-family: MartianMono, ui-monospace, system-ui;
    font-size: .5rem;
    line-height: 1.4em;
}

a {
    text-decoration: underline;
}

a:hover {
        text-decoration: none;
    }

ul {
    list-style-type: disc;
}

ol {
    list-style-type: numeric;
}

p.small, ul.small, ol.small {
        font-size: .8rem;
        line-height: 1.2em;
    }

p.meta, ul.meta, ol.meta {
        font-family: MartianMono, ui-monospace, system-ui;
        font-size: .5rem;
        line-height: 1.4em;
    }

p.narrow, ul.narrow, ol.narrow {
        width: 100%;
    }

@media (min-width: 640px) {

p.narrow, ul.narrow, ol.narrow {
            width: 75%
    }
        }

h1,
h2,
h3,
h4,
p,
ul,
ol,
figure {
    margin-bottom: 0.5em;
}

h1:last-child, h2:last-child, h3:last-child, h4:last-child, p:last-child, ul:last-child, ol:last-child, figure:last-child {
        margin-bottom: 0;
    }

.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2rem;
    color: var(--foreground);
    background: var(--background);
    line-height: 1em;
    z-index: 100;
}

.header.header--sticky {
        position: sticky;
        top: 0;
    }

.header a {
        text-decoration: none;
    }

/* Exclude cta buttons from getting an underline */

.header a:hover:not(.button) {
            text-decoration: underline;
        }

/* Logo and product name */

.header > a {
        position: relative;
        z-index: 1;
        font-family: Geomanist, ui-sans-serif, system-ui;
        font-weight: 500;
    }

.header > a span {
            font-family: UncutSans, ui-sans-serif, system-ui;
            font-weight: normal;
        }

/* Mobile toggle */

.header > nav > input {
            display: none;
        }

.header > nav > input:checked ~ ul {
                display: flex;
            }

.header > nav > label {
            position: relative;
            cursor: pointer;
            z-index: 1;
        }

@media (min-width: 1024px) {

.header > nav > label {
                display: none
        }
            }

/* Mobile menu */

.header > nav > ul {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: auto;
            display: none;
            flex-direction: column;
            align-items: flex-start;
            padding: 6rem 2rem;
            gap: 1rem;
            background: var(--background);
            z-index: 0;
        }

.header > nav > ul > li {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

/* Sumenu toggle */

.header > nav > ul > li input {
                    cursor: pointer;
                    display: none;
                }

.header > nav > ul > li input:checked ~ ul {
                        display: flex;
                    }

.header > nav > ul > li > label {
                    cursor: pointer;
                }

.header > nav > ul > li > label::after {
                        content: ' ';
                        border: solid var(--foreground);
                        margin-left: 0.5rem;
                        border-width: 0 1px 1px 0;
                        display: inline-block;
                        padding: 3px;
                        transform: rotate(45deg) translateY(-10%) translateX(-50%);
                    }

/* Submenu */

.header > nav > ul > li > ul {
                    line-height: 1.4em;
                    display: none;
                    flex-direction: column;
                    list-style: none;
                    gap: 1rem;
                    margin-top: 1rem;
                }

.header > nav > ul > li > ul > li {
                        width: 100%;
                    }

.header > nav > ul > li > ul > li a {
                            display: inline-block;
                            width: 100%;
                        }

/* Desktop menu */

@media (min-width: 1024px) {
            .header > nav > ul {
                display: flex;
                position: relative;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding: 0;
            }
                    .header > nav > ul > li > ul {
                        position: absolute;
                        right: 0;
                        bottom: 0;
                        padding: 1rem;
                        margin-right: calc(1rem * -1);
                        transform: translateY(100%);
                        background: var(--background);
                        line-height: 1.4em;
                    }

                        .header > nav > ul > li > ul > li {
                            /* Force submenu items to 1 line to get a proper width for the submenu */
                            white-space: nowrap;
                        }
        }

.footer {
    padding: 2rem 2rem;
    color: var(--foreground);
    background: var(--background);
}

.footer a {
        text-decoration: none;
    }

.footer a:hover {
            text-decoration: underline;
        }

.footer .columns {
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 1rem;
}

.footer .columns > * {
    grid-column: span 12 / span 12;
}

.footer .columns .brand {
    grid-column: span 2 / span 2;
            font-family: Geomanist, ui-sans-serif, system-ui;
}

@media (min-width: 768px) {

.footer .columns .brand {
        grid-column: span 3 / span 3;
    }
            }

@media (min-width: 1024px) {

.footer .columns .brand {
        grid-column: span 2 / span 2;
    }
            }

.footer .columns ul,
        .footer .columns ol {
            list-style-type: none;
            padding: 0;
        }

@media (min-width: 768px) {

.footer .columns ul,
        .footer .columns ol {
        grid-column: span 3 / span 3;
    }
            }

@media (min-width: 1024px) {

.footer .columns ul,
        .footer .columns ol {
        grid-column: span 2 / span 2;
    }
            }

@media (min-width: 768px) {

.footer .columns .description {
        grid-column: span 12 / span 12;
    }
            }

@media (min-width: 1024px) {

.footer .columns .description {
        grid-column: span 4 / span 4;
        grid-column-start: 9;
    }
            }

.footer .columns .description p {
                font-size: .8rem;
            }

.footer .columns .description p + p {
                margin-top: 1rem;
            }

.footer .columns .description a {
                text-decoration: underline;
            }

.footer .columns .description a:hover {
                    text-decoration: none;
                }

/*  
    This component has 5 different visual layouts for bigger screens
    1. image right (default)
    2. image left
    3. image bottom
    4. image background
    5. image none
*/

.jumbo {
    padding: 3rem 2rem 3rem;

    font-family: UncutSans, ui-sans-serif, system-ui;
    color: var(--foreground);
    background: var(--background);
}

.jumbo .text {
        padding-bottom: 3rem;
    }

.jumbo .text .title {
            word-break: break-word;
            margin-bottom: 1rem;
        }

.jumbo .text .excerpt p {
                width: 75%;
                margin-bottom: 1rem;
            }

.jumbo .text .excerpt .cta {
                display: flex;
                align-items: center;
                gap: 1rem;
            }

.jumbo figure {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

.jumbo figure img {
            flex: 1;
            width: 100%;
            -o-object-fit: cover;
               object-fit: cover;
        }

.jumbo figure figcaption {
            margin-top: 1rem;
        }

/* 1. image right (default) */

@media (min-width: 768px) {

.jumbo {
        display: grid;
        grid-template-columns: repeat(12, minmax(0, 1fr));
        gap: 1rem
}

        .jumbo .text {
        grid-column: span 6 / span 6;
            /* @apply col-start-1; */
    }

        .jumbo figure {
        grid-column: span 6 / span 6;
            /* @apply col-start-7; */
    }
    }

/* 2. image left */

@media (min-width: 768px) {

.jumbo.jumbo--image-left {
            display: grid;
            height: auto
    }

            .jumbo.jumbo--image-left .text {
        grid-column: span 6 / span 6;
        grid-column-start: 7;
                order: 2;
    }

            .jumbo.jumbo--image-left figure {
        grid-column: span 5 / span 5;
        grid-column-start: 1;
                order: 1;
    }
        }

/* 3. image bottom */

@media (min-width: 768px) {

.jumbo.jumbo--image-bottom {
            display: grid;
            height: auto
    }

            .jumbo.jumbo--image-bottom .text {
        grid-column: span 12 / span 12;

                display: grid;

                grid-template-columns: repeat(12, minmax(0, 1fr));

                gap: 1rem;
    }

                .jumbo.jumbo--image-bottom .text .title {
        grid-column: span 5 / span 5;
    }

                .jumbo.jumbo--image-bottom .text .excerpt {
        grid-column: span 5 / span 5;
        grid-column-start: 7;
    }

            .jumbo.jumbo--image-bottom figure {
        grid-column: span 12 / span 12;
    }
        }

/* 4. image background */

.jumbo.jumbo--image-background {
        position: relative;
        padding: 3rem 2rem 2rem;
    }

@media (min-width: 768px) {

.jumbo.jumbo--image-background {
            display: grid;
            height: auto;

            padding: 30vh 2rem 2rem
    }

            .jumbo.jumbo--image-background .text {
        grid-column: span 7 / span 7;
        grid-column-start: 3;
                z-index: 1;
    }

            .jumbo.jumbo--image-background figure {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                padding: 1rem;
            }

                .jumbo.jumbo--image-background figure img {
                    width: auto;
                    height: 100%;
                    opacity: 0.35;
                }

                .jumbo.jumbo--image-background figure figcaption {
                    position: absolute;
                    right: 2rem;
                    bottom: 2rem;
                }
        }

/* 5. image none */

.jumbo.jumbo--image-none {
        padding: 3rem 2rem 2rem;
    }

.jumbo.jumbo--image-none figure {
            display: none;
        }

@media (min-width: 768px) {

.jumbo.jumbo--image-none {
            display: grid;
            height: auto;

            padding: 5rem 2rem 2rem
    }

            .jumbo.jumbo--image-none .text {
        grid-column: span 7 / span 7;
        grid-column-start: 3;
    }
        }

/*  
    This component has 2 layouts
    1. button left (default)
    2. button right
*/

.call-to-action {
    position: relative;
    display: flex;
    padding: 3rem 2rem;

    font-family: UncutSans, ui-sans-serif, system-ui;
    color: var(--foreground);
    text-decoration: none;
    background: var(--background);
}

.call-to-action .text {
        position: relative;
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: space-between;
        z-index: 1;
    }

.call-to-action .text .title {
            word-break: break-word;
            margin-bottom: 2rem;
        }

.call-to-action .text .button {
            align-self: flex-start;
        }

.call-to-action figure {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

.call-to-action figure img {
            width: 100%;
            height: 100%;
            -o-object-fit: cover;
               object-fit: cover;
            -o-object-position: center;
               object-position: center;
            opacity: 0.35;
        }

.call-to-action figure figcaption {
            position: absolute;
            right: 0.5rem;
            bottom: 0.5rem;
        }

.call-to-action:hover .button::after {
                margin-left: 1rem;
            }

/* 1. button left */

.call-to-action.call-to-action--button-left .text .button {
                align-self: flex-start;
            }

/* 2. button right */

.call-to-action.call-to-action--button-right .text .button {
                align-self: flex-end;
            }

.section {
    padding: 1rem 2rem 3rem;
    background: #fff;
}

.heading {
    grid-column-start: 1;
    grid-column: span 12 / span 12;

    padding: 0.5rem 0 1rem;
    margin: 0;
    border-top: 1px solid #6b7280;
}

.article {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 0.5rem;
}

.article > h1,
    .article > h2,
    .article > h3,
    .article > h4,
    .article > p,
    .article > ul,
    .article > ol,
    .article > div {
    grid-column: span 10 / span 10;
    grid-column-start: 1;
}

@media (min-width: 768px) {

.article > h1,
    .article > h2,
    .article > h3,
    .article > h4,
    .article > p,
    .article > ul,
    .article > ol,
    .article > div {
        grid-column: span 6 / span 6;
        grid-column-start: 2;
    }
        }

@media (min-width: 1280px) {

.article > h1,
    .article > h2,
    .article > h3,
    .article > h4,
    .article > p,
    .article > ul,
    .article > ol,
    .article > div {
        grid-column: span 5 / span 5;
        grid-column-start: 3;
    }
        }

.article > figure {
        margin: 2rem 0;
        grid-column: span 12 / span 12;
        grid-column-start: 1;

    }

@media (min-width: 768px) {

.article > figure {
        grid-column: span 10 / span 10;
        grid-column-start: 1;
    }
        }

@media (min-width: 1280px) {

.article > figure {
        grid-column: span 8 / span 8;
        grid-column-start: 2;
    }
        }

.article > figure img {
            width: 100%;
            height: auto;
        }

.article > figure figcaption {
            margin-top: 1rem;
        }

.columns {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 1rem;
}

.columns > * {
    grid-column: span 12 / span 12;
}

.columns.columns--1 > * {
    grid-column: span 12 / span 12;
}

.columns.columns--2 > * {
    grid-column: span 12 / span 12;
}

@media (min-width: 1024px) {

.columns.columns--2 > * {
        grid-column: span 6 / span 6;
    }
            }

.columns.columns--2 > *.column--narrow {
    grid-column: span 12 / span 12;
}

@media (min-width: 1024px) {

.columns.columns--2 > *.column--narrow {
        grid-column: span 4 / span 4;
    }
                }

.columns.columns--2 > *.column--wide {
    grid-column: span 12 / span 12;
}

@media (min-width: 1024px) {

.columns.columns--2 > *.column--wide {
        grid-column: span 8 / span 8;
    }
                }

.columns.columns--3 > * {
    grid-column: span 12 / span 12;
}

@media (min-width: 640px) {

.columns.columns--3 > * {
        grid-column: span 6 / span 6;
    }
            }

@media (min-width: 1024px) {

.columns.columns--3 > * {
        grid-column: span 4 / span 4;
    }
            }

.columns.columns--4 > * {
    grid-column: span 12 / span 12;
}

@media (min-width: 640px) {

.columns.columns--4 > * {
        grid-column: span 3 / span 3;
    }
            }

.columns.columns--6 > * {
    grid-column: span 12 / span 12;
}

@media (min-width: 640px) {

.columns.columns--6 > * {
        grid-column: span 2 / span 2;
    }
            }

.tablist {
    display: flex;
    list-style: none;
    border-bottom: 1px solid #6b7280;
    margin-bottom: 1rem;
}

.tablist button {
        padding: 0.5rem 1rem;
        border-bottom: 2px solid #fff;
    }

.tablist button:first-child {
            padding-left: 0;
        }

.tablist button[aria-selected='true'] {
            border-bottom: 2px solid #000;
        }

.card {
    text-decoration: none;
}

.card figure {
        width: 100%;
        height: auto;
    }

.card figure img {
            width: auto;
            /*height: 100%;*/
        }

.card .title {
        margin: 0.5rem 0 0;
    }

.card .description {
        width: 75%;
        margin: 0.5rem 0 0;
        font-size: .8rem;
        line-height: 1.2em;
    }

.card .meta {
        margin-top: 0.5rem;
    }

.card .button {
        margin-top: 0.5rem;
    }

.card:hover .button::after {
                margin-left: 1rem;
            }

.li {
    padding: 1rem 0 1rem;
    border-top: 1px solid #6b7280;
    list-style: none;
}

.li .title .meta {
            margin-top: 0.5rem;
        }

.li .description {
        margin-top: 0.5rem;
    }

.li .button {
        margin-top: 0.5rem;
    }

.li.li--horizontal {

        /* background: #000; */
    }

@media (min-width: 768px) {

.li.li--horizontal {
            display: grid;
            grid-template-columns: repeat(12, minmax(0, 1fr));
            gap: 1rem
    }

            .li.li--horizontal .title {
        grid-column: span 4 / span 4;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
    }

            .li.li--horizontal .description {
        grid-column: span 8 / span 8;
                margin-top: 0;
    }
        }

.button {
    --icon: '→';
    display: flex;
    padding: 0.5rem 1rem;
    color: #fff;
    background: #000;
    text-decoration: none;
}

.button::after {
        margin-left: 0.5rem;
        content: var(--icon);
        display: inline-block;
        transition-property: margin;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 150ms;
    }

.button:hover {
        text-decoration: none;
    }

.button:hover::after {
            margin-left: 1rem;
        }

.button.button--inverted {
        color: #000;
        background: #fff;
    }

.button.button--themed {
        color: var(--background);
        background: var(--foreground);
    }

.button.button--themed-inverted {
        color: var(--foreground);
        background: var(--background);
    }

.timetable {
    font-weight: 400;
    --size: 1fr;
}

.timetable.timetable--compact {
        --size: auto;
    }

@media (min-width: 768px) {
        .timetable .schedule {
            display: grid;
            grid-gap: 0.5rem;
            grid-template-rows:
                [tracks] auto
               
                [time-1000] var(--size)
                [time-1015] var(--size)
                [time-1030] var(--size)
                [time-1045] var(--size)
                [time-1100] var(--size)
                [time-1115] var(--size)
                [time-1130] var(--size)
                [time-1145] var(--size)
                [time-1200] var(--size)
                [time-1215] var(--size)
                [time-1230] var(--size)
                [time-1245] var(--size)
                [time-1300] var(--size)
                [time-1315] var(--size)
                [time-1330] var(--size)
                [time-1345] var(--size)
                [time-1400] var(--size)
                [time-1415] var(--size)
                [time-1430] var(--size)
                [time-1445] var(--size)
                [time-1500] var(--size)
                [time-1515] var(--size)
                [time-1530] var(--size)
                [time-1545] var(--size)
                [time-1600] var(--size)
                [time-1615] var(--size)
                [time-1630] var(--size)
                [time-1645] var(--size)
                [time-1700] var(--size)
                [time-1715] var(--size)
                [time-1730] var(--size)
                [time-1745] var(--size)
                [time-1800] var(--size)
               
;

            grid-template-columns:
                [times] 4em
                [track-1-start] 1fr
                [track-1-end track-2-start] 1fr
                [track-2-end track-3-start] 1fr
                [track-3-end track-4-start] 1fr
                [track-4-end];
        }

            .timetable .schedule .schedule-heading {
        grid-column: span 5 / span 5;
                position: sticky;
                top: 0;
                display: grid;
                /* column-gap: theme(gap.2); */
                grid-template-columns: inherit;
    }

                .timetable .schedule .schedule-heading .track-slot {
                    padding-left: 0.5rem;
                }
            .timetable.timetable--tracks-5 .schedule {
                grid-template-columns:
                    [times] 4em
                    [track-1-start] 1fr
                    [track-1-end track-2-start] 1fr
                    [track-2-end track-3-start] 1fr
                    [track-3-end track-4-start] 1fr
                    [track-4-end track-5-start] 1fr
                    [track-5-end];
            }

            .timetable.timetable--tracks-5 .schedule-heading {
        grid-column: span 6 / span 6;
                grid-template-columns: inherit;
    }
    }

.timetable .time-slot {
        grid-column: times;
        margin: 1rem 0;
    }

.timetable .track-slot {
        display: none;
    }

@supports (display: grid) {
        @media (min-width: 768px) {
            .timetable .time-slot {
                margin: 0;
            }
            .timetable .track-slot {
                display: block;
                padding: 1rem 0;
                background-color: #fff;
                /* position: sticky; */
                /* top: 0; */
                /* z-index: 10; */
            }
        }
    }

.timetable .session {
        margin-bottom: 0.5rem;
    }

@supports (display: grid) {
        @media (min-width: 768px) {
            .timetable .session {
                margin: 0;
            }
        }
    }

.timetable .session {
        background: var(--background);
        color: var(--foreground);
        background: none;
        color: var(--background);
        padding: 1rem;
        border: 1px solid #000;
    }

/* border-radius: 2px; */

/* font-size: 14px; */

/* box-shadow: rgba(255, 255, 255, 0.6) 1px 1px 0, rgba(0, 0, 0, 0.3) 4px 4px 0; */

.timetable .session span {
            font-size: .8rem;
        }

.timetable .session-title,
    .timetable .session-time,
    .timetable .session-track,
    .timetable .session-presenter {
        display: block;
    }

.timetable .session-title,
    .timetable .time-slot {
        font-size: 1rem;
    }

.timetable .session-title a {
        text-decoration: none;
    }

.timetable .session-title a:hover {
            text-decoration: underline;
        }

.timetable .time-slot {
        font-family: MartianMono, ui-monospace, system-ui;
        font-size: .5rem;
    }

/* .track-1 {
        background-color: #1259b2;
        color: #fff;
    }

    .track-2 {
        background-color: #687f00;
        color: #fff;
    }

    .track-3 {
        background-color: #544d69;
        color: #fff;
    }

    .track-4 {
        background-color: #c35500;
        color: #fff;
    } */

.timetable .track-all {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #000;
        /* border: none; */
    }

.form label {
        display: block;
        font-size: .8rem;
        margin-bottom: 1rem;
    }

.form label.checkbox,
        .form label.radio {
            display: inline-flex;
            align-items: center;
        }

.form input:not([type='checkbox'], [type='radio']), .form select:not([type='checkbox'], [type='radio']), .form textarea:not([type='checkbox'], [type='radio']) {
            margin-top: 0.5rem;
            width: 100%;
        }

.form input[type='checkbox'],
        .form input[type='radio'],
        .form select[type='checkbox'],
        .form select[type='radio'],
        .form textarea[type='checkbox'],
        .form textarea[type='radio'] {
            margin-right: 0.5rem;
        }

.form.form--solid input:not([type='checkbox'], [type='radio']), .form.form--solid select:not([type='checkbox'], [type='radio']), .form.form--solid textarea:not([type='checkbox'], [type='radio']) {
                background: #f3f4f6;
                border: 1px solid transparent;
            }

.form.form--solid input:not([type='checkbox'], [type='radio']):focus, .form.form--solid select:not([type='checkbox'], [type='radio']):focus, .form.form--solid textarea:not([type='checkbox'], [type='radio']):focus {
                    border: 1px solid #6b7280;
                    background: #fff;
                }

.form.form--solid input[type='checkbox'],
            .form.form--solid input[type='radio'],
            .form.form--solid select[type='checkbox'],
            .form.form--solid select[type='radio'],
            .form.form--solid textarea[type='checkbox'],
            .form.form--solid textarea[type='radio'] {
                background-color: #e5e7eb;
                border: 1px solid transparent;

            }

.form.form--solid input[type='checkbox']:checked, .form.form--solid input[type='radio']:checked, .form.form--solid select[type='checkbox']:checked, .form.form--solid select[type='radio']:checked, .form.form--solid textarea[type='checkbox']:checked, .form.form--solid textarea[type='radio']:checked {
                    border: 1px solid #6b7280;
                    background-color: #374151;
                }

.colorpicker {
    --foreground: #000;
    --background: #9ca3af;
}

.colorpicker .picker {
        margin-bottom: 1rem;
    }

.colorpicker .result {
        padding: 2rem 2rem;
        background: var(--background);
        color: var(--foreground);
        margin-bottom: 1rem;
    }

.colorpicker .result h1 {
            font-family: Geomanist, ui-sans-serif, system-ui;
            font-size: 4rem;
            line-height: 1em;
            margin-bottom: 2rem;
        }

.colorpicker .result p {
            font-family: UncutSans, ui-sans-serif, system-ui;
            font-size: .8rem;
            line-height: 1.2em;
        }