<template>
    <section class="colorpicker" :style="{ '--foreground': foreground, '--background': background }">
        <div class="picker">
            <p><label for="hue">Hue: </label><input id="hue" v-model="hue" type="range" min="0" max="360" /> <kbd>{{ hue }}</kbd></p>
            <p>
                Foreground: <kbd>{{ foreground }}</kbd>
            </p>
            <p>
                Background: <kbd>{{ background }}</kbd>
            </p>
            <p>
                Contrast: <kbd>{{ contrast }}</kbd>
            </p>
        </div>
        <div class="result">
            <h1>PublicSpaces Conference Bazaar</h1> 
            <p>Tijdens de Public Spaces Conferentie op 27&28 juni, in Pakhuis de Zwijger, zal op dinsdag 27 juni een bazaar plaatsvinden. Deze bazaar is bedoeld voor aanbieders van software tools/producten om in contact te komen met het publiek en producten of diensten in de spotlight te zetten op dé plek waar de culturele sector, onderwijs, wetenschap, zorg en overheid bij elkaar komt. Een plek op de bazaar biedt daarnaast ook netwerkmogelijkheden, kortingscodes en meer. Interesse? Meld je aan!</p>
        </div>
    </section>
</template>

<script setup>
    import { ref, computed } from 'vue';

    const hue = ref(40);
    const foreground = computed(() => calcForeground());
    const background = computed(() => calcBackground());

    console.log(foreground);
    const contrast = computed(() => ((1 - calcContrast()) * 10).toFixed(1));

    function calcForeground() {
        let h = hue.value - 70;
        if (h < 0) h += 360;

        return hslToHex(h, 100, 70);
    }

    function calcBackground() {
        return hslToHex(hue.value, 20, 20);
    }

    function hslToHex(h, s, l) {
        l /= 100;
        const a = (s * Math.min(l, 1 - l)) / 100;
        const f = (n) => {
            const k = (n + h / 30) % 12;
            const color = l - a * Math.max(Math.min(k - 3, 9 - k, 1), -1);
            return Math.round(255 * color)
                .toString(16)
                .padStart(2, '0');
        };
        return `#${f(0)}${f(8)}${f(4)}`;
    }

    function hexToRgb(hex) {
        hex = hex.slice(1);
        const value = parseInt(hex, 16);
        const r = (value >> 16) & 255;
        const g = (value >> 8) & 255;
        const b = value & 255;

        return [r, g, b];
    }

    function calcContrast() {
        const foregroundLumiance = getLuminance(hexToRgb(foreground.value));
        const backgroundLuminance = getLuminance(hexToRgb(background.value));
        return backgroundLuminance < foregroundLumiance ? (backgroundLuminance + 0.05) / (foregroundLumiance + 0.05) : (foregroundLumiance + 0.05) / (backgroundLuminance + 0.05);
    }

    function getLuminance(rgb) {
        const [r, g, b] = rgb.map((v) => {
            v /= 255;
            return v <= 0.03928 ? v / 12.92 : Math.pow((v + 0.055) / 1.055, 2.4);
        });
        return r * 0.2126 + g * 0.7152 + b * 0.0722;
    }
</script>

<style src="./../styles/style.css" scoped></style>
