<template>
    <header class="header">
        <nav>
            <a href="/">PublicSpaces</a>
            <ul>
                <li><a href="#">Link</a></li>
                <li>
                    <button>Dropdown</button>
                    <ul>
                        <li><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                    </ul>
                </li>
                <li><a href="#">Link</a></li>
            </ul>
        </nav>
    </header>
</template>

<style src="./../styles/style.css" scoped></style>
