<template>
    <section class="jumbo">
        <figure><img src="" alt="" /></figure>
        <div class="text">
            <h1 class="title col-start-2">Title</h1>
            <p class="exerpt">exerpt</p>
        </div>
    </section>
</template>

<style src="./../styles/style.css" scoped></style>
