<template>
    <section class="morsecomposer">
        <div class="picker">
            <textarea v-model="string" name="" id="" cols="30" rows="10"></textarea>
        </div>
        <div class="result">
            <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g v-for="(line, lineIndex) in morse" :key="line + lineIndex">
                    <template v-for="(char, charIndex) in line" :key="char + charIndex">
                        <template v-for="(obj, objIndex) in char" :key="obj + objIndex">
                            <circle :id="`${lineIndex}${charIndex}${objIndex}`" v-if="obj.signal === '.'" :cx="obj.x" :cy="obj.y" :r="obj.r" fill="black" :transform="`translate(${obj.x}, ${obj.y}) scale(.6) translate(-${obj.x}, -${obj.y})`" />
                            <rect v-if="obj.signal === '-'" :x="obj.x" :y="obj.y" :width="obj.w" :height="obj.h" fill="black" :transform="`translate(${obj.x + obj.w / 2}, ${obj.y + obj.h / 2}) scale(.9333, .6) translate(-${obj.x + obj.w / 2}, -${obj.y + obj.h / 2})`" />
                        </template>
                    </template>
                </g>
            </svg>
        </div>
    </section>
</template>

<script setup>
    import { ref, computed } from 'vue';

    const string = ref(`Morse code \nis a method \nused in telecommunication \nto encode \ntext characters as \nstandardized sequences \nof two different \nsignal durations called \ndots and dashes \nor dits and dahs`);
    const rows = ref(string.value.split('\n').length);
    const size = computed(() => 100 / rows.value);
    const morse = computed(() => calcMorse());

    const code = {
        ' ': '',
        a: '.-',
        b: '-...',
        c: '-.-.',
        d: '-..',
        e: '.',
        f: '..-.',
        g: '--.',
        h: '....',
        i: '..',
        j: '.---',
        k: '-.-',
        l: '.-..',
        m: '--',
        n: '-.',
        o: '---',
        p: '.--.',
        q: '--.-',
        r: '.-.',
        s: '...',
        t: '-',
        u: '..-',
        v: '...-',
        w: '.--',
        x: '-..-',
        y: '-.--',
        z: '--..',
        0: '-----',
        1: '.----',
        2: '..---',
        3: '...--',
        4: '....-',
        5: '.....',
        6: '-....',
        7: '--...',
        8: '---..',
        9: '----.',
    };

    function calcMorse() {
        // console.log([...string.value])
        let lines = string.value.split('\n');

        let y = 0;

        lines = lines.map((line) => {
            let x = 0;

            let chars = [...line];

            chars = chars.map((char) => {
                console.log(char);

                const signals = [...code[char.toLowerCase()]];

                return signals.map((signal) => {
                    const obj = {
                        signal: signal,
                        x: signal === '.' ? x + size.value / 2 : x,
                        y: signal === '.' ? y * size.value + size.value / 2 : y * size.value,
                        w: size.value * 3,
                        h: size.value,
                        r: size.value / 2,
                    };

                    x += signal === '.' ? size.value : size.value * 3;

                    console.log(obj);

                    return obj;
                });
            });

            y += 1;

            return chars;
        });

        rows.value = lines.length;

        return lines;
    }
</script>

<style src="./../styles/style.css" scoped></style>
<style scoped>
    svg {
        width: 300px;
        height: 300px;
        transform-box: fill-box;
    }

    @keyframes line {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(calc(-100%));
        }
    }
</style>
