.colorpicker {
    --foreground: theme(colors.black);
    --background: theme(colors.gray.400);

    .picker {
        margin-bottom: theme(spacing.4);
    }

    .result {
        padding: theme(spacing.8) theme(spacing.8);
        background: var(--background);
        color: var(--foreground);
        margin-bottom: theme(spacing.4);

        h1 {
            font-family: theme(fontFamily.heading);
            font-size: theme(fontSize.xxl);
            line-height: theme(lineHeight.xxl);
            margin-bottom: theme(spacing.8);
        }
        
        p {
            font-family: theme(fontFamily.body);
            font-size: theme(fontSize.sm);
            line-height: theme(lineHeight.sm);
        }
    }
}
