html {
    --foreground: theme(colors.black);
    --background: theme(colors.white);

    font-size: 16px;
    background: var(--background);

    @screen md {
        font-size: 18px;
    }

    @screen xl {
        font-size: 20px;
    }
}
