@font-face {
    font-family: 'UncutSans';
    font-weight: 300;
    font-style: normal;
    src: url('./fonts/UncutSans-Variable.woff2') format('woff2');
}

@font-face {
    font-family: 'MartianMono';
    font-weight: 300;
    font-style: normal;
    src: url('./fonts/MartianMono-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Geomanist';
    font-weight: 300;
    font-style: normal;
    src: url('./fonts/geomanist-light-webfont.woff2') format('woff2'), url('./fonts/geomanist-light-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Geomanist';
    font-weight: 300;
    font-style: italic;
    src: url('./fonts/geomanist-light-italic-webfont.woff2') format('woff2'), url('./fonts/geomanist-light-italic-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Geomanist';
    font-weight: 400;
    font-style: normal;
    src: url('./fonts/geomanist-regular-webfont.woff2') format('woff2'), url('./fonts/geomanist-regular-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Geomanist';
    font-weight: 400;
    font-style: italic;
    src: url('./fonts/geomanist-regular-italic-webfont.woff2') format('woff2'), url('./fonts/geomanist-regular-italic-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Geomanist';
    font-weight: 500;
    font-style: normal;
    src: url('./fonts/geomanist-book-webfont.woff2') format('woff2'), url('./fonts/geomanist-book-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Geomanist';
    font-weight: 500;
    font-style: italic;
    src: url('./fonts/geomanist-book-italic-webfont.woff2') format('woff2'), url('./fonts/geomanist-book-italic-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Geomanist';
    font-weight: 600;
    font-style: normal;
    src: url('./fonts/geomanist-medium-webfont.woff2') format('woff2'), url('./fonts/geomanist-medium-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Geomanist';
    font-weight: 600;
    font-style: italic;
    src: url('./fonts/geomanist-medium-italic-webfont.woff2') format('woff2'), url('./fonts/geomanist-medium-italic-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Geomanist';
    font-weight: 700;
    font-style: italic;
    src: url('./fonts/geomanist-bold-italic-webfont.woff2') format('woff2'), url('./fonts/geomanist-bold-italic-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Geomanist';
    font-weight: 700;
    font-style: normal;
    src: url('./fonts/geomanist-bold-webfont.woff2') format('woff2'), url('./fonts/geomanist-bold-webfont.woff') format('woff');
}
