body {
    font-family: theme(fontFamily.body);
    font-size: theme(fontSize.base);
    line-height: theme(fontSize.base);
    font-weight: normal;
}

p {
    font-size: theme(fontSize.base);
    line-height: theme(lineHeight.base);
}

h1 {
    font-family: theme(fontFamily.heading);
    font-size: theme(fontSize.xxl);
    line-height: theme(lineHeight.xxl);
}

h2 {
    font-family: theme(fontFamily.heading);
    font-size: theme(fontSize.xl);
    line-height: theme(lineHeight.xl);
}

h3 {
    font-family: theme(fontFamily.heading);
    font-size: theme(fontSize.lg);
    line-height: theme(lineHeight.lg);
}

h4 {
    font-family: theme(fontFamily.heading);
    font-size: theme(fontSize.base);
    line-height: theme(lineHeight.sm);
}

ul,
ol {
    line-height: theme(lineHeight.base);
}

figcaption {
    font-family: theme(fontFamily.mono);
    font-size: theme(fontSize.xs);
    line-height: theme(lineHeight.xs);
}

a {
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }
}

ul {
    list-style-type: disc;
}

ol {
    list-style-type: numeric;
}

p,
ul,
ol {
    &.small {
        font-size: theme(fontSize.sm);
        line-height: theme(lineHeight.sm);
    }

    &.meta {
        font-family: theme(fontFamily.mono);
        font-size: theme(fontSize.xs);
        line-height: theme(lineHeight.xs);
    }

    &.narrow {
        width: 100%;

        @screen sm {
            width: 75%;
        }
    }
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
figure {
    margin-bottom: 0.5em;

    &:last-child {
        margin-bottom: 0;
    }
}
