.article {
    display: grid;

    @apply grid-cols-12;
    @apply gap-2;

    > h1,
    > h2,
    > h3,
    > h4,
    > p,
    > ul,
    > ol,
    > div {
        @apply col-span-10;
        @apply col-start-1;

        @screen md {
            @apply col-span-6;
            @apply col-start-2;
        }

        @screen xl {
            @apply col-span-5;
            @apply col-start-3;
        }
    }

    > figure, > blockquote {
        margin: theme(spacing.8) 0;

        @apply col-span-12;
        @apply col-start-1;

        @screen md {
            @apply col-span-10;
            @apply col-start-1;
        }

        @screen xl {
            @apply col-span-8;
            @apply col-start-2;
        }

        img {
            width: 100%;
            height: auto;
        }

        figcaption {
            margin-top: theme(spacing.4);
        }

    }
}
