.button {
    --icon: '→';
    display: flex;
    padding: theme(spacing.2) theme(spacing.4);
    color: theme(colors.white);
    background: theme(colors.black);
    text-decoration: none;

    &::after {
        margin-left: theme(spacing.2);
        content: var(--icon);
        display: inline-block;
        @apply transition-[margin];
    }

    &:hover {
        text-decoration: none;
        
        &::after {
            margin-left: theme(spacing.4);
        }
    }

    &.button--inverted {
        color: theme(colors.black);
        background: theme(colors.white);
    }

    &.button--themed {
        color: var(--background);
        background: var(--foreground);
    }

    &.button--themed-inverted {
        color: var(--foreground);
        background: var(--background);
    }
}
