.card {
    text-decoration: none;

    figure {
        width: 100%;
        height: auto;

        img {
            width: auto;
            /*height: 100%;*/
        }
    }

    .title {
        margin: theme(spacing.2) 0 0;
    }

    .description {
        width: 75%;
        margin: theme(spacing.2) 0 0;
        font-size: theme(fontSize.sm);
        line-height: theme(lineHeight.sm);
    }

    .meta {
        margin-top: theme(spacing.2);
    }

    .button {
        margin-top: theme(spacing.2);
    }

    &:hover {
        .button {
            &::after {
                margin-left: theme(spacing.4);
            }
        }
    }
}
