.footer {
    padding: theme(spacing.8) theme(spacing.8);
    color: var(--foreground);
    background: var(--background);

    a {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    .columns {
        @apply grid-cols-12;
        @apply gap-4;

        & > * {
            @apply col-span-12;
        }

        .brand {
            @apply col-span-2;
            font-family: theme(fontFamily.heading);

            @screen md {
                @apply col-span-3;
            }
            @screen lg {
                @apply col-span-2;
            }
        }

        ul,
        ol {
            list-style-type: none;
            padding: 0;

            @screen md {
                @apply col-span-3;
            }
            @screen lg {
                @apply col-span-2;
            }
        }

        .description {
            @screen md {
                @apply col-span-12;
            }
            @screen lg {
                @apply col-span-4;
                @apply col-start-9;
            }

            p {
                font-size: theme(fontSize.sm);
            }

            p + p {
                margin-top: theme(spacing.4);
            }

            a {
                text-decoration: underline;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}
