.form {
    label {
        display: block;
        font-size: theme(fontSize.sm);
        margin-bottom: theme(spacing.4);

        &.checkbox,
        &.radio {
            display: inline-flex;
            align-items: center;
        }
    }

    input,
    select,
    textarea {
        &:not([type='checkbox'], [type='radio']) {
            margin-top: theme(spacing.2);
            width: 100%;
        }

        &[type='checkbox'],
        &[type='radio'] {
            margin-right: theme(spacing.2);
        }
    }

    &.form--solid {
        input,
        select,
        textarea {
            &:not([type='checkbox'], [type='radio']) {
                background: theme(colors.gray.100);
                border: 1px solid transparent;

                &:focus {
                    border: 1px solid theme(colors.gray.500);
                    background: theme(colors.white);
                }
            }

            &[type='checkbox'],
            &[type='radio'] {
                background-color: theme(colors.gray.200);
                border: 1px solid transparent;

                &:checked {
                    border: 1px solid theme(colors.gray.500);
                    background-color: theme(colors.gray.700);
                }

            }
        }
    }
}
