.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: theme(spacing.8) theme(spacing.8);
    color: var(--foreground);
    background: var(--background);
    line-height: 1em;
    z-index: 100;

    &.header--sticky {
        position: sticky;
        top: 0;
    }

    a {
        text-decoration: none;

        /* Exclude cta buttons from getting an underline */
        &:hover:not(.button) {
            text-decoration: underline;
        }
    }

    /* Logo and product name */
    > a {
        position: relative;
        z-index: 1;
        font-family: theme(fontFamily.heading);
        font-weight: 500;

        span {
            font-family: theme(fontFamily.body);
            font-weight: normal;
        }
    }

    > nav {
        /* Mobile toggle */
        > input {
            display: none;

            &:checked ~ ul {
                display: flex;
            }
        }

        > label {
            position: relative;
            cursor: pointer;
            z-index: 1;

            @screen lg {
                display: none;
            }
        }

        /* Mobile menu */
        > ul {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: auto;
            display: none;
            flex-direction: column;
            align-items: flex-start;
            padding: theme(spacing.24) theme(spacing.8);
            gap: theme(spacing.4);
            background: var(--background);
            z-index: 0;

            > li {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                /* Sumenu toggle */
                input {
                    cursor: pointer;
                    display: none;

                    &:checked ~ ul {
                        display: flex;
                    }
                }

                > label {
                    cursor: pointer;

                    &::after {
                        content: ' ';
                        border: solid var(--foreground);
                        margin-left: theme(spacing.2);
                        border-width: 0 1px 1px 0;
                        display: inline-block;
                        padding: 3px;
                        transform: rotate(45deg) translateY(-10%) translateX(-50%);
                    }
                }

                /* Submenu */
                > ul {
                    line-height: theme(lineHeight.base);
                    display: none;
                    flex-direction: column;
                    list-style: none;
                    gap: theme(spacing.4);
                    margin-top: theme(spacing.4);

                    > li {
                        width: 100%;

                        a {
                            display: inline-block;
                            width: 100%;
                        }
                    }
                }
            }
        }

        /* Desktop menu */
        @screen lg {
            > ul {
                display: flex;
                position: relative;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding: 0;

                > li {
                    > ul {
                        position: absolute;
                        right: 0;
                        bottom: 0;
                        padding: theme(spacing.4);
                        margin-right: calc(theme(spacing.4) * -1);
                        transform: translateY(100%);
                        background: var(--background);
                        line-height: theme(lineHeight.base);

                        > li {
                            /* Force submenu items to 1 line to get a proper width for the submenu */
                            white-space: nowrap;
                        }
                    }
                }
            }
        }
    }
}
