.li {
    padding: theme(spacing.4) 0 theme(spacing.4);
    border-top: 1px solid theme(colors.gray.500);
    list-style: none;

    .title {
        .meta {
            margin-top: theme(spacing.2);
        }
    }

    .description {
        margin-top: theme(spacing.2);
    }

    .button {
        margin-top: theme(spacing.2);
    }

    &.li--horizontal {
        @screen md {
            display: grid;

            @apply grid-cols-12;
            @apply gap-4;

            .title {
                @apply col-span-4;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

            .description {
                @apply col-span-8;
                margin-top: 0;
            }
        }

        /* background: #000; */
    }
}
