.tablist {
    display: flex;
    list-style: none;
    border-bottom: 1px solid theme(colors.gray.500);
    margin-bottom: theme(spacing.4);

    button {
        padding: theme(spacing.2) theme(spacing.4);
        border-bottom: 2px solid theme(colors.white);

        &:first-child {
            padding-left: 0;
        }

        &[aria-selected='true'] {
            border-bottom: 2px solid theme(colors.black);
        }
    }
}
