.timetable {
    font-weight: 400;
    --size: 1fr;

    &.timetable--compact {
        --size: auto;
    }

    @screen md {
        .schedule {
            display: grid;
            grid-gap: theme(gap.2);
            grid-template-rows:
                [tracks] auto
               
                [time-1000] var(--size)
                [time-1015] var(--size)
                [time-1030] var(--size)
                [time-1045] var(--size)
                [time-1100] var(--size)
                [time-1115] var(--size)
                [time-1130] var(--size)
                [time-1145] var(--size)
                [time-1200] var(--size)
                [time-1215] var(--size)
                [time-1230] var(--size)
                [time-1245] var(--size)
                [time-1300] var(--size)
                [time-1315] var(--size)
                [time-1330] var(--size)
                [time-1345] var(--size)
                [time-1400] var(--size)
                [time-1415] var(--size)
                [time-1430] var(--size)
                [time-1445] var(--size)
                [time-1500] var(--size)
                [time-1515] var(--size)
                [time-1530] var(--size)
                [time-1545] var(--size)
                [time-1600] var(--size)
                [time-1615] var(--size)
                [time-1630] var(--size)
                [time-1645] var(--size)
                [time-1700] var(--size)
                [time-1715] var(--size)
                [time-1730] var(--size)
                [time-1745] var(--size)
                [time-1800] var(--size)
               
;

            grid-template-columns:
                [times] 4em
                [track-1-start] 1fr
                [track-1-end track-2-start] 1fr
                [track-2-end track-3-start] 1fr
                [track-3-end track-4-start] 1fr
                [track-4-end];

            .schedule-heading {
                @apply col-span-5;
                position: sticky;
                top: 0;
                display: grid;
                /* column-gap: theme(gap.2); */
                grid-template-columns: inherit;

                .track-slot {
                    padding-left: theme(gap.2);
                }
            }
        }
    }

    @screen md {
        &.timetable--tracks-5 {
            .schedule {
                grid-template-columns:
                    [times] 4em
                    [track-1-start] 1fr
                    [track-1-end track-2-start] 1fr
                    [track-2-end track-3-start] 1fr
                    [track-3-end track-4-start] 1fr
                    [track-4-end track-5-start] 1fr
                    [track-5-end];
            }

            .schedule-heading {
                @apply col-span-6;
                grid-template-columns: inherit;
            }
        }
    }

    .time-slot {
        grid-column: times;
        margin: theme(spacing.4) 0;
    }

    .track-slot {
        display: none;
    }

    @supports (display: grid) {
        @screen md {
            .time-slot {
                margin: 0;
            }
            .track-slot {
                display: block;
                padding: theme(spacing.4) 0;
                background-color: theme(colors.white);
                /* position: sticky; */
                /* top: 0; */
                /* z-index: 10; */
            }
        }
    }

    .session {
        margin-bottom: theme(spacing.2);
    }

    @supports (display: grid) {
        @screen md {
            .session {
                margin: 0;
            }
        }
    }

    .session {
        background: var(--background);
        color: var(--foreground);
        background: none;
        color: var(--background);
        padding: theme(spacing.4);
        border: 1px solid theme(colors.black);
        /* border-radius: 2px; */
        /* font-size: 14px; */
        /* box-shadow: rgba(255, 255, 255, 0.6) 1px 1px 0, rgba(0, 0, 0, 0.3) 4px 4px 0; */

        span {
            font-size: theme(fontSize.sm);
        }
    }

    .session-title,
    .session-time,
    .session-track,
    .session-presenter {
        display: block;
    }

    .session-title,
    .time-slot {
        font-size: theme(fontSize.base);
    }

    .session-title a {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    .time-slot {
        font-family: theme(fontFamily.mono);
        font-size: theme(fontSize.xs);
    }

    /* .track-1 {
        background-color: #1259b2;
        color: #fff;
    }

    .track-2 {
        background-color: #687f00;
        color: #fff;
    }

    .track-3 {
        background-color: #544d69;
        color: #fff;
    }

    .track-4 {
        background-color: #c35500;
        color: #fff;
    } */

    .track-all {
        display: flex;
        justify-content: center;
        align-items: center;
        color: theme(colors.black);
        /* border: none; */
    }
}
